@import "tailwindcss";

@theme {
  --font-space: var(--font-space);
  --font-sans: var(--font-outfit);
}

body {
  background-color: #030508; /* Egy nagyon mély, elegáns éjkék/fekete */
  background-image: radial-gradient(circle at 50% 0%, rgba(30, 58, 138, 0.15), transparent 60%);
  color: #ffffff;
}

/* Egy finom animáció a háttérfényeknek */
@keyframes slow-pulse {
  0%, 100% { opacity: 0.4; }
  50% { opacity: 0.8; }
}
.animate-ambient {
  animation: slow-pulse 8s ease-in-out infinite;
}
@media (min-width: 768px) {
  * {
    cursor: none !important;
  }
}